<div style="padding: 20px; border-radius: 12px">
    <div class="login-form">
      <mat-card style="background-color: #7cafd1; color: #333;">
        <mat-card-title>
          <img 
          routerLink=""
          src="assets/images/padel.webp"
          width="60"
          height="60"
          alt="logo"
        />&nbsp;
        </mat-card-title>
        <mat-card-content>
            <form novalidate (ngSubmit)="onSubmit()" [formGroup]="loginUser" style="margin-top:32px;">
                <mat-form-field appearance="fill">
                  <mat-label>Email:</mat-label>
                  <input matInput formControlName="mail" />
                  @if(loginUser.get('mail')?.invalid){
                    <mat-error>
                        El usuario es requerido.
                      </mat-error>
                  }                  
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Password:</mat-label>
                  <input type="password" matInput formControlName="password" />
                  @if(loginUser.get('password')?.invalid){
                    <mat-error>
                        La password es requerida.
                      </mat-error>
                  }
                </mat-form-field>
                <mat-card-content>
                  <button mat-raised-button color="primary">
                    Enviar
                  </button>
                </mat-card-content>
              </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
