@if(showTable){
<div style="padding: 20px; border-radius: 12px; background-color: white">
  <p-table [value]="misReservas" 
  [tableStyle]="{'min-width': '20rem'}"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="center" style="color: rgb(99, 95, 160)">Fecha/Hora</th>
        <!-- <th class="center" style="color:  rgb(99, 95, 160)">Hora</th> -->
        <th class="center" style="color:  rgb(99, 95, 160)">Pista</th>
        <!-- <th class="center" style="color:  rgb(99, 95, 160)">Instalación</th> -->
        <th class="center" style="color:  rgb(99, 95, 160)">Plazas</th>
        <!-- <th>Quantity</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr
        *ngIf="!product.vencida"
        [ngClass]="{ 'proxima-reserva': product.proxima }"
      >
      <!--fecha-->
        <td class="center">
          <p-badge
            *ngIf="product.esHoy"
            [value]="product.fecha"
            severity="warning"
          ></p-badge>
          <span *ngIf="!product.esHoy">{{ product.fecha }}</span><br/>
          <span *ngIf="!product.esHoy">{{ product.horaInicio }}</span>
        </td>
        <!--hora-->
        <!-- <td class="center">
          <p-badge
            *ngIf="product.esHoy"
            [value]="product.hora"
            severity="warning"
          ></p-badge>
          <span *ngIf="!product.esHoy">{{ product.hora }}</span>
        </td> -->
        <!-- Pista -->
        <td class="center">
          <p-badge
            *ngIf="product.esHoy"
            [value]="product.instalacion.nombre"
            severity="warning"
          ></p-badge>
          <span *ngIf="!product.esHoy">{{ product.instalacion.tipo | uppercase }}</span><br/>
          <span *ngIf="!product.esHoy">{{ product.instalacion.nombre }}</span>
        </td>
        <!-- Instalación -->
        <!-- <td class="center">
          <p-badge
            *ngIf="product.esHoy"
            [value]="product.instalacion.tipo"
            severity="warning"
          ></p-badge>
          <span *ngIf="!product.esHoy">{{ product.instalacion.tipo | uppercase }}</span>
        </td> -->
        <!---->
        <td class="center">
          <p-badge
            *ngIf="product.esHoy"
            [value]="product.plazasMias"
            severity="warning"
          ></p-badge>
          <span *ngIf="!product.esHoy">{{ product.plazasMias }}</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
}@else {
<app-loader />
}
