<nav class="navbar navbar-expand-md fondo">
  <div class="container-fluid">
    <!--logo-->
    <a>
      <img
        routerLink=""
        src="assets/images/logo.jpg"
        width="80"
        height="80"
        alt="logo"
        style="padding-right: 15px;"
      />&nbsp;
    </a>
    <!--botón hamburguesa-->
    <label
      class="hamburger navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="border: none"
    >
      <!-- </button> -->
      <input type="checkbox" />
      <svg viewBox="0 0 32 32">
        <path
          class="line line-top-bottom"
          d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
          [style.stroke]="currentTheme === 'dark' ? '#fff' : '#fff'"
        ></path>
        <path
          class="line"
          [style.stroke]="currentTheme === 'dark' ? '#fff' : '#fff'"
          d="M7 16 27 16"
        ></path>
      </svg>
    </label>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <!--primera lista-->
      <ul class="navbar-nav me-auto my-2 my-lg-0">
        <li
          class="nav-item"
          routerLinkActive="active"
          [class.selected]="(selectedOption$ | async) === 'home'"
          (click)="selectOption('home')"
        >
          <a
            class="nav-link"
            [routerLink]="['']"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <span>Inicio</span>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [class.selected]="(selectedOption$ | async) === 'reservar'"
          (click)="selectOption('reservar')"
        >
          <a
            class="nav-link"
            [routerLink]="['/reservar']"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <span>Reservar</span>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [class.selected]="(selectedOption$ | async) === 'calendario'"
          (click)="selectOption('calendario')"
        >
          <a
            class="nav-link"
            [routerLink]="['/calendario']"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <span>Calendario</span>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [class.selected]="(selectedOption$ | async) === 'mis-reservas'"
          (click)="selectOption('mis-reservas')"
        >
          <a
            class="nav-link"
            [routerLink]="['/mis-reservas']"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <span>Mis Reservas</span>
          </a>
        </li>
        <li *ngIf="rol === 'admin'"
          class="nav-item"
          routerLinkActive="active"
          [class.selected]="(selectedOption$ | async) === 'clientes'"
          (click)="selectOption('clientes')"
        >
          <a
            class="nav-link"
            [routerLink]="['/clientes']"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <span>Clientes</span>
          </a>
        </li>
      </ul>
      <!--segunda lista-->
      <!-- <ul class="navbar-nav ml-auto my-2 my-lg-0"> -->
      <div *ngIf="activeUser; else notUser">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="['/user']"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
            >
              <span (click)="logout()">Cerrar sesión</span>
            </a>
          </li>
          <li>
            <p-avatar
              label="{{ palabrasAvatar }}"
              styleClass="mr-2"
              [style]="{
                'background-color': '#FF0000',
                color: '#ffffff'
              }"
              shape="circle"
            ></p-avatar>
          </li>
        </ul>
      </div>
      <ng-template #notUser>
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li
          class="nav-item"
          routerLinkActive="active"
          [class.selected]="(selectedOption$ | async) === 'login'"
          (click)="selectOption('login')"
        >
          <a
            class="nav-link"
            [routerLink]="['/login']"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
          >
            <span>Login</span>
          </a>
        </li>
      </ul>
      </ng-template>
    </div>
  </div>
</nav>
