.main{
    min-height: 700px;
    background-color: white;
   // background-color: red;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
     background-image: url('/assets/images/fonfo.JPG');
    background-size: cover;       /* Hace que la imagen cubra toda la pantalla */
    background-position: center;  /* Centra la imagen */
}

/*
 * Boton scroll
 */
.floating-up{
    position: fixed; 
    bottom: 92px; 
    right: 15px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
  }