@if(isLoading){
    <div>Cargando...</div>
}
@if(!isLoading && !hasData){
    <div>No hay datos disponibles.</div>
}

@if(!isLoading && hasData){
    <div class="card">
        <p-table 
            [value]="reservasByDate" 
            styleClass="p-datatable-striped" 
            [tableStyle]="{'min-width': '40rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="background-color: rgb(3, 90, 90); color:white" *ngFor="let pista of pistas">{{ pista }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr *ngFor="let intervalo of intervalos">
                      <td>{{ intervalo.horaInicio }}-{{ intervalo.horaFin }}</td>
                      <!-- <td>{{ intervalo.horaFin }}</td> -->
                      <td>
                        <button pButton type="button" label="Reservar" (click)="onCellClick( intervalo)"></button>
                      </td>
                    </tr>
                  </ng-template>
        </p-table>
    </div> 
}

   


