@if(isLoading){
    <div>Cargando...</div>
}
@if(!isLoading && !hasData){
    <div>No hay datos disponibles.</div>
}

@if(!isLoading && hasData){
    <div class="card">
        <p-table 
            [value]="reservasByDate" 
            styleClass="p-datatable-striped" 
            [tableStyle]="{'min-width': '40rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Fecha</th>
                        <th>Hora Inicio</th>
                        <th>Hora fin</th>
                        <th>Usuario</th>
                        <th>Opciones</th>
                        
                        <!-- <th>Category</th>
                        <th>Quantity</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.fecha}}</td>
                        <td>{{product.horaInicio}}</td>
                        <td>{{product.horaFin}}</td>
                        <td>{{product.name || '-'}} </td>
                        <td>Opciones</td>
                        <!-- <td>{{product.quantity}}</td> -->
                    </tr>
                </ng-template>
        </p-table>
    </div> 
}

   


