.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.calendar-container{
    min-width: 300px;
}

@media (max-width: 768px) {
    .calendar{
      flex-direction: column;
    }
    }