<div class="card flex justify-content-center">
  <p-dialog
    [modal]="true"
    [(visible)]="visible"
    (onHide)="onCloseModal()"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [maximizable]="true"
  >
    <span class="p-text-secondary">{{nombrePista}}&nbsp;horario:{{ horaPista }}</span>
      <div class="padel-court">
        <div class="line baseline top"></div>
        <div class="line baseline bottom"></div>
        <div class="line sideline left"></div>
        <div class="line sideline right"></div>
        <div class="line net"></div>
        <div class="line center-service-line"></div>
        <div>
          <div *ngFor="let slot of slots; let i = index">
            <ng-container *ngIf="jugadores[i]; else emptySlot">
              <div [ngClass]="'player player' + (i + 1)">
                <div>
                  <p-avatar
                    label="{{ jugadores[i].iniciales }}"
                    styleClass="mr-2"
                    [style]="{ 'background-color': '#FFD700', color: '#1a2551' }"
                    shape="circle"
                  ></p-avatar>
                </div>
                {{ jugadores[i].user }}
              </div>
            </ng-container>
            <ng-template #emptySlot>
              <div [ngClass]="'player player' + (i + 1)" style="background-color: transparent;">
                 <p-avatar
                  label="+"
                  styleClass="mr-2"
                  [style]="{ 'background-color': '#ADD8E6', color: '#1a2551' }"
                  shape="circle"
                  (click)="handleClick()"
                ></p-avatar>  Inscríbete
              </div>
            
            </ng-template>
          </div>
          <!-- <div
            *ngFor="let jugador of jugadores; let i = index"
            [ngClass]="'player player' + (i + 1)"
          >
            <div>
              <p-avatar
                label="{{ jugador.iniciales }}"
                styleClass="mr-2"
                [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
                shape="circle"
              ></p-avatar>
            </div>
            {{ jugador.user }}
          </div> -->
        </div>
      </div>
  </p-dialog>
  <p-dialog 
    header="Reserva de plaza" 
    [modal]="true"
    [(visible)]="visibleInscripcion" 
    [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [maximizable]="true">
        <p>
            Te vas a registrar en la hora {{reservaSeleccionada.time}}
        </p>
        <div class="flex justify-content-center">
          <!-- <p-button label="Cancel" severity="secondary" (click)="visible = false" /> -->
          <p-button label="Aceptar" (click)="reservar()" />
      </div>
  </p-dialog>
</div>
