<div class="card flex justify-content-center">
    <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-5">Jugadores .</span>
        <body>
            <!-- <body> -->
                <div class="padel-court">
                    <div class="line baseline top"></div>
                    <div class="line baseline bottom"></div>
                    <div class="line sideline left"></div>
                    <div class="line sideline right"></div>
                    <div class="line net"></div>
                    <div class="line center-service-line"></div>
            
                    <div class="player player1">
                        <div><p-avatar 
                            label="OS" 
                            styleClass="mr-2" 
                            [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" 
                            shape="circle" /></div>
                        Óscar Sánchez-MAriín Baquero
                    </div>
                    <div class="player player2">
                        <div><p-avatar 
                            label="OS" 
                            styleClass="mr-2" 
                            [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" 
                            shape="circle" /></div>
                        Óscar Sánchez-MAriín Baquero
                    </div>
                    <div class="player player3">
                        <div><p-avatar 
                            label="OS" 
                            styleClass="mr-2" 
                            [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" 
                            shape="circle" /></div>
                        Óscar Sánchez-MAriín Baquero
                    </div>
                    <div class="player player4">
                        <div><p-avatar 
                            label="OS" 
                            styleClass="mr-2" 
                            [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" 
                            shape="circle" /></div>
                        Óscar Sánchez-MAriín Baquero
                    </div>
                </div>
            </body>
        <!-- </body> -->
        
    </p-dialog>
</div>