<div class="card flex justify-content-center">
    <p-dialog [modal]="true" [(visible)]="visible" (onHide)="onCloseModal()" [style]="{ width: '45rem' }">
        <span class="p-text-secondary block mb-5">Jugadores .{{horaPista}}</span>
        <body>
            <!-- <body> -->
                <div class="padel-court">
                    <div class="line baseline top"></div>
                    <div class="line baseline bottom"></div>
                    <div class="line sideline left"></div>
                    <div class="line sideline right"></div>
                    <div class="line net"></div>
                    <div class="line center-service-line"></div>
                          <div class="container">
                            <div *ngFor="let jugador of jugadores; let i = index" [ngClass]="'player player' + (i + 1)">
                              <div>
                                <p-avatar 
                                  label="{{ jugador.iniciales }}"
                                  styleClass="mr-2" 
                                  [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" 
                                  shape="circle"></p-avatar>
                              </div>
                              {{ jugador.user }}
                            </div>
                          </div>
                </div>
            </body>
        <!-- </body> -->
        
    </p-dialog>
</div>