.background {
    background-color: red;
    width: 100%;
    height: 100px;
    // background-image: url('/assets/images/fondo.jpg');
    // background-size: cover;       /* Hace que la imagen cubra toda la pantalla */
    // background-position: center;  /* Centra la imagen */
    // background-repeat: no-repeat; /* Evita que la imagen se repita */
    // height: 100%;                 /* Hace que el fondo cubra toda la altura de la página */
    // width: 100%;                  /* Hace que el fondo cubra toda la anchura de la página */
    // position: absolute;           /* Posiciona el fondo absoluto para cubrir toda la pantalla */
    // z-index: -1;                  /* Coloca el fondo detrás de otros elementos */
  }