.home {
    background-color: red;
    min-height: 600px;
    padding: 20px;
     background-image: url('/assets/images/fonfo.JPG');
    background-size: cover;       /* Hace que la imagen cubra toda la pantalla */
    background-position: center;  /* Centra la imagen */
    // background-repeat: no-repeat; /* Evita que la imagen se repita */
    // height: 100%;                 /* Hace que el fondo cubra toda la altura de la página */
    // width: 100%;                  /* Hace que el fondo cubra toda la anchura de la página */
    // position: absolute;           /* Posiciona el fondo absoluto para cubrir toda la pantalla */
    // z-index: -1;                  /* Coloca el fondo detrás de otros elementos */
  }

  .container {
    min-height: 600px;
}
.iframe-container {
    position: relative;
    width: 100%;
    height: 600px; /* Altura fija o ajustable según tus necesidades */
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;
}
iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}