.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // padding: 10px;
}
.calendar-container{
    // background-color: red;
    // min-width: 300px;
    //  border-radius: 18px;
    // // background-color: white;
    //  box-shadow: 10px 10px 20px #babecc, 10px 10px 20px  #babecc;
}


:host ::ng-deep .p-datepicker {  transform: scale(0.8);}

@media (max-width: 768px) {
    .calendar{
      flex-direction: column;
      :host ::ng-deep .p-datepicker {  transform: scale(0.5);}
    }
    }