.card{
    margin:20px;
    // padding: 25px;
}

.calendario{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la tabla */
table {
    // width: 90%;
    border-collapse: collapse;
  }
  
  /* Estilos para las celdas de la tabla */
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  /* Estilos para el encabezado de la tabla */
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para las filas impares */
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  /* Estilos para las celdas al pasar el ratón */
  td:hover {
    background-color: #e5e5e5;
  }
  