.card{
    margin:20px;
    // padding: 25px;
}

/* Contenedor del título */
.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Espacio entre el título y la tabla */
}

.title-table {
  background-color: #2e2c2b; /* Tomate */
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Máximo ancho */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-table h6 {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: white;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden; /* Para que el borde redondeado funcione */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Estilos para las celdas de la tabla */
th, td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Estilos para el encabezado de la tabla */
th {
  background-color: #f2f2f2;
  color: #333;
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilos para las celdas al pasar el ratón */
td:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

/* Estilos para la fuente de los textos */
td {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #333;
}



  

  .reserved {
    background-color: rgba(233, 14, 14, 0.925);
    pointer-events: none;
    cursor: not-allowed;
  }

  .reserved-partial{
    cursor: pointer;
    background-color: rgb(235, 235, 9);
  }